










<app-page-header class="sticky-header"></app-page-header>
<div class="body">
  <!--header eliminado, ahora es componente compartido-->
  <!-- <header>
    <div class="logo-container">
      <img src="https://www.buenohotel.com/assets/img/logo-white.png" alt="Logo de Bueno Hotel" />
    </div>
    <nav>
      <ul>
        <li><a [routerLink]="['/']" [ngClass]="{ 'active': isActive('/') }" id="inicio-btn">Inicio</a></li>
        <li><a [routerLink]="['/tienda']" [ngClass]="{ 'active': isActive('/tienda') }" id="tienda-btn">Tienda</a></li>
        <li><a [routerLink]="['/contactos']" [ngClass]="{ 'active': isActive('/contactos') }" id="contactos-btn">Contactos</a></li>
      </ul>
    </nav>
  -->
  <section class="content">


<h1 class="section-title">Contáctanos</h1>
    <div class="contact-info-modern contact-cards-layout">
      <div class="contact-block contact-card">
        <h3>Asistencia</h3>
        <p>Si necesitas asistencia con tu compra en línea, no dudes en comunicarte con nosotros. Estamos aquí para ayudarte.</p>
      </div>
      <div class="contact-block contact-card">
        <h3>Teléfonos</h3>
        <p><strong>Teléfono:</strong> +1 (809) 566-4292</p>
        <p><strong>WhatsApp:</strong> <a href="https://wa.me/18093034991" target="_blank">+1 (809) 303-4991</a></p>
      </div>
      <div class="contact-block contact-card">
        <h3>Correos Electrónicos</h3>
        <p><strong>Productos y Servicios:</strong><br>
<a href="mailto:info&#64;buenohotel.com"><span>info&#64;buenohotel.com</span></a></p>
<p><strong>Servicio al Cliente:</strong><br>
<a href="mailto:soporte&#64;buenohotel.com.do"><span>soporte&#64;buenohotel.com.do</span></a></p>
<p><strong>Órdenes:</strong><br>
<a href="mailto:info&#64;buenohotel.com"><span>info&#64;buenohotel.com</span></a></p>
      </div>
      <div class="contact-block contact-card">
        <h3>Visítanos</h3>
        <p><strong>Dirección:</strong> C / Darío Concepción No. 18, San Gerónimo, Santo Domingo, D.N. República Dominicana.</p>
        <p><strong>Google Maps:</strong> <a href="https://www.google.com/maps/search/?api=1&query=C.+Dario+Concepcion+18,+Santo+Domingo" target="_blank" rel="noopener">Ver en Maps</a></p>
      </div>
    </div>
  </section>
</div>
